<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="App\Kernel" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value="ed8e4a98bb20a0162010dcbda27f4720"/>
        <!-- 127.0.0.1,127.0.0.2 -->
        <!-- localhost,example.com -->
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db" -->
        <!-- Configure your db driver and server_version in config/packages/doctrine.yaml -->
        <env name="DATABASE_URL" value="mysql://db_user:db_password@127.0.0.1:3306/db_name"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>


    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <!-- <directory>src/Resources</directory> -->
                <directory>src/DataFixtures</directory>
                <directory>src/Migrations</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Project IP-Trevise Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
