/** protect from toolbar overriding text **/
body{
    margin-top:70px;
}

/** Remove this two lines when the font-awesome icon will exist. **/
.fa-gravatar:before {
    content: "\f1a0"; }
.fa-gravatar {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

/** For the first panel just after a tab-pane **/
.tab-pane .panel,.tab-pane .panel-heading{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
}

/** If the headers of this cell has an icon **/
.table > tbody > tr > td.th-icon{
    padding-left: 2em;
}

/** Required **/
label.required::after {
    content: "*";
    color: #FF0000;
}

.recherche_p {
  margin-top: 10px;
}

.missing {
  color: #9d9d9d;
}

#searchthis #search {
  color: #9d9d9d;
  background-color: transparent;   /* Couleur de fond */
  border-style: dotted;;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  width: 40%;
  box-sizing: border-box;   /* Important */
  font-family: Lato;   /* Police du texte */
  font-size: 12px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 1px;   /* Espacement des caractères */
}

#searchthis #search-btn {
  background-color: #000000;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #000000;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  box-sizing: border-box;   /* Important */
  font-family: PT sans;   /* Police du texte */
  font-size: 13px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
  letter-spacing: 2px;   /* Espacement des caractères */
  text-transform: uppercase;   /* Transforme le texte en majuscules */
  color: #ffffff;   /* Couleur du texte */
}

#searchthis #search-btn:hover {
  background-color: #333;   /* Couleur de fond */
  color: #000000;   /* Couleur du texte */
  cursor: pointer;   /* Apparence du curseur comme pour un lien */
}
